.direnv
feh_*_filelist
.pdb
.obj
\#*#
*~
*.swp
.#*
nohup.out
dont-backup
*.orig
*.hi
*.o

*.toc
*.out
*.log
*.blg
*.bbl
*.aux
*.bcf
*.nav
*.snm
*-blx.bib
*.synctex.gz
*.run.xml
*.fmt
*.loe
*.prv
projects/Körper/essen
projects/**/.cabal-sandbox
projects/**/cabal.sandbox.config
projects/**/dist
Haskell/**/.cabal-sandbox
Haskell/**/cabal.sandbox.config
Haskell/**/distcore.*
**/core.[0-9]*
TAGS
.ipynb_checkpoints
.~lock*
*.sqlite-shm
*.sqlite-wal
cabal.project.local
result
